<header class="page-header">
    <div class="container">
        <div class="page-header__row">
            <a href="#" class="page-header__account">
                <div class="page-header__account-photo-container">
                    <img src="img/account-photo.jpg" alt="" class="page-header__account-photo">
                </div>
                <div class="page-header__account-name">
                    Иванова Мария
                </div>
            </a>
            <button class="page-header__burger">
                <span></span>
                <span></span>
                <span></span>
            </button>
        </div>
    </div>
</header>