<div class="modal modal--large-padding js-modal" id="course-modal">
    <div class="modal__inner modal__inner--wide">
        <button class="modal__close js-close-modal">
            <svg width="14" height="14" aria-hidden="true" class="icon-close">
                <use xlink:href="#close"></use>
            </svg>
        </button>
        <div class="modal__course">
            <div class="modal__course-row">
                <div class="modal__course-col">
                    <div class="modal__course-image-wrapper">


                        <img src="img/modal-course.jpg" alt="" class="modal__course-image">
                    </div>
                </div>
                <div class="modal__course-col">
                    <h2 class="modal__course-heading">
                        Азбука детского питания<br> от 0 до 2 лет
                    </h2>
                    <div class="modal__course-text modal__course-text--max-width">
                        <p>
                            Вы научитесь правильно организовывать питание младенца, а так же узнаете как сформировать
                            здоровое пищевое поведение ребенка без сахара.
                        </p>
                    </div>
                </div>
            </div>
            <div class="modal__course-row">
                <div class="modal__course-col">
                    <h3 class="modal__course-block-heading">
                        Кому подойдет
                    </h3>
                </div>
                <div class="modal__course-col">
                    <div class="modal__course-text">
                        <p>
                            ДЛЯ МОЛОДЫХ РОДИТЕЛЕЙ
                            Вебинар для молодых родителей, которые хотят организовать полноценное и полезное питание
                            для своего ребенка в возрасте до 2-х лет.
                        </p>
                        <p>
                            ДЛЯ БУДУЩИХ МАМ
                            Вы сможете составить грамотный рацион ребенка, который будет обеспечивать питательными
                            веществами растущий организм согласно возрасту.
                        </p>
                        <p>
                            ДЛЯ БАБУШЕК И ДЕДУШЕК
                            Для бабушек и дедушек, которые хотят знать современные нормы питания
                        </p>
                    </div>
                </div>
            </div>
            <div class="modal__course-row">
                <div class="modal__course-col">
                    <h3 class="modal__course-block-heading">
                        Подробное содержание
                    </h3>
                </div>
                <div class="modal__course-col">
                    <div class="modal__course-text">
                        1 часть: 0-6 месяцев<br>
                        <ol>
                            <li>
                                Микробиом с рождения
                            </li>
                            <li>
                                Генетика ребенка
                            </li>
                            <li>
                                Экология ребенка
                            </li>
                            <li>
                                Почему у мамы нет молока?
                            </li>
                            <li>
                                Колики ребенка
                            </li>
                            <li>
                                Режим дня ребенка
                            </li>
                            <li>
                                Ключевые возрастные моменты 1 года жизни ребенка
                            </li>
                            <li>
                                Нужна ли вода ребенку в первые 6 месяцев
                            </li>
                            <li>
                                Когда начинать прикорм?
                            </li>
                        </ol>
                        2 часть: 6 месяцев — 2 года<br>
                        <ol>
                            <li>
                                Организация прикорма
                            </li>
                            <li>
                                Питьевой режим
                            </li>
                            <li>
                                Витамины в рационе ребенка. Обзор и нюансы приема
                            </li>
                        </ol>
                        3 часть: Частые проблемы пищевого поведения<br>
                        <ol>
                            <li>
                                Повышенный аппетит
                            </li>
                            <li>
                                Пониженный аппетит
                            </li>
                            <li>
                                Почему ребенок избирателен в еде?
                            </li>
                            <li>
                                Как внести разнообразие в питание ребенка
                            </li>
                            <li>
                                Сахар в питании ребенка первых лет жизни
                            </li>
                        </ol>
                        4 часть: Питание при определенных состояниях здоровья<br>
                        <ol>
                            <li>
                                Тактика питания при аллергии
                            </li>
                            <li>
                                Латанная недостаточность
                            </li>
                            <li>
                                Вирусные заболевания
                            </li>
                            <li>
                                Дефицит веса
                            </li>
                            <li>
                                Избыток веса
                            </li>
                            <li>
                                Атопический дерматит и заболевания кожи
                            </li>
                            <li>
                                Застой желчи
                            </li>
                        </ol>

                    </div>
                </div>
            </div>
            <div class="modal__course-row">
                <div class="modal__course-col">
                    <h3 class="modal__course-block-heading">
                        Стоимость программы
                    </h3>
                </div>
                <div class="modal__course-col modal__course-col--centered">
                    <div class="modal__course-price">
                        2 500 ₽
                    </div>
                </div>
            </div>

        </div>
        <a href="#" class="orange-btn modal__course-link">
            Купить
        </a>
    </div>
</div>