<div class="modal modal--large-padding js-modal" id="course-modal">
    <div class="modal__inner modal__inner--wide">
        <button class="modal__close js-close-modal">
            <svg width="14" height="14" aria-hidden="true" class="icon-close">
                <use xlink:href="#close"></use>
            </svg>
        </button>
        <div class="modal__course">
            <div class="modal__course-row">
                <div class="modal__course-col">
                    <div class="modal__course-image-wrapper">


                        <img src="img/modal-course.jpg" alt="" class="modal__course-image">
                    </div>
                </div>
                <div class="modal__course-col">
                    <h2 class="modal__course-heading">
                        Азбука детского питания<br> от 0 до 2 лет
                    </h2>
                    <div class="modal__course-text modal__course-text--max-width">
                        <p>
                            Вы научитесь правильно организовывать питание младенца, а так же узнаете как сформировать
                            здоровое пищевое поведение ребенка без сахара.
                        </p>
                    </div>
                </div>
            </div>
            <div class="modal__course-row">
                <div class="modal__course-col">
                    <h3 class="modal__course-block-heading">
                        Кому подойдет
                    </h3>
                </div>
                <div class="modal__course-col">
                    <div class="modal__course-text">
                        <p>
                            ДЛЯ МОЛОДЫХ РОДИТЕЛЕЙ
                            Вебинар для молодых родителей, которые хотят организовать полноценное и полезное питание
                            для своего ребенка в возрасте до 2-х лет.
                        </p>
                        <p>
                            ДЛЯ БУДУЩИХ МАМ
                            Вы сможете составить грамотный рацион ребенка, который будет обеспечивать питательными
                            веществами растущий организм согласно возрасту.
                        </p>
                        <p>
                            ДЛЯ БАБУШЕК И ДЕДУШЕК
                            Для бабушек и дедушек, которые хотят знать современные нормы питания
                        </p>
                    </div>
                </div>
            </div>
            <div class="modal__course-row">
                <div class="modal__course-col">
                    <h3 class="modal__course-block-heading">
                        Подробное содержание
                    </h3>
                </div>
                <div class="modal__course-col">
                    <div class="modal__course-text">
                        1 часть: 0-6 месяцев<br>
                        <ol>
                            <li>
                                Микробиом с рождения
                            </li>
                            <li>
                                Генетика ребенка
                            </li>
                            <li>
                                Экология ребенка
                            </li>
                            <li>
                                Почему у мамы нет молока?
                            </li>
                            <li>
                                Колики ребенка
                            </li>
                            <li>
                                Режим дня ребенка
                            </li>
                            <li>
                                Ключевые возрастные моменты 1 года жизни ребенка
                            </li>
                            <li>
                                Нужна ли вода ребенку в первые 6 месяцев
                            </li>
                            <li>
                                Когда начинать прикорм?
                            </li>
                        </ol>
                        2 часть: 6 месяцев — 2 года<br>
                        <ol>
                            <li>
                                Организация прикорма
                            </li>
                            <li>
                                Питьевой режим
                            </li>
                            <li>
                                Витамины в рационе ребенка. Обзор и нюансы приема
                            </li>
                        </ol>
                        3 часть: Частые проблемы пищевого поведения<br>
                        <ol>
                            <li>
                                Повышенный аппетит
                            </li>
                            <li>
                                Пониженный аппетит
                            </li>
                            <li>
                                Почему ребенок избирателен в еде?
                            </li>
                            <li>
                                Как внести разнообразие в питание ребенка
                            </li>
                            <li>
                                Сахар в питании ребенка первых лет жизни
                            </li>
                        </ol>
                        4 часть: Питание при определенных состояниях здоровья<br>
                        <ol>
                            <li>
                                Тактика питания при аллергии
                            </li>
                            <li>
                                Латанная недостаточность
                            </li>
                            <li>
                                Вирусные заболевания
                            </li>
                            <li>
                                Дефицит веса
                            </li>
                            <li>
                                Избыток веса
                            </li>
                            <li>
                                Атопический дерматит и заболевания кожи
                            </li>
                            <li>
                                Застой желчи
                            </li>
                        </ol>

                    </div>
                </div>
            </div>
            <div class="modal__course-row">
                <div class="modal__course-col">
                    <h3 class="modal__course-block-heading">
                        Стоимость программы
                    </h3>
                </div>
                <div class="modal__course-col modal__course-col--centered">
                    <div class="modal__course-price">
                        2 500 ₽
                    </div>
                </div>
            </div>
            <a href="#" class="orange-btn modal__course-link">
                Купить
            </a>
        </div>

    </div>
</div>
<div class="modal modal--large-padding js-modal" id="course-modal-2">
    <div class="modal__inner modal__inner--wide">
        <button class="modal__close js-close-modal">
            <svg width="14" height="14" aria-hidden="true" class="icon-close">
                <use xlink:href="#close"></use>
            </svg>
        </button>
        <div class="modal__course">
            <div class="modal__course-row">
                <div class="modal__course-col">
                    <div class="modal__course-image-wrapper">
                        <img src="img/modal-course-2.jpg" alt="" class="modal__course-image">
                    </div>
                </div>
                <div class="modal__course-col">
                    <div class="modal__course-tags">
                        <div class="modal__course-tag">
                            4 декабря
                        </div>
                        <div class="modal__course-tag">
                            19:00
                        </div>
                    </div>
                    <h2 class="modal__course-heading">
                        Онлайн-встреча для начинающих нутрициологов
                    </h2>
                    <div class="modal__course-text modal__course-text--max-width">
                        <p>
                            Решили перейти на здоровое питание, но тут же испугались постоянных ограничений? от мысли,
                            что придётся отказаться от чая с вкусняшками по вечерам, хочется закричать?
                        </p>
                    </div>
                </div>
            </div>
            <div class="modal__course-row">
                <div class="modal__course-col">
                    <h3 class="modal__course-block-heading">
                        Описание
                    </h3>
                </div>
                <div class="modal__course-col">
                    <div class="modal__course-text">
                        <p>
                            Нутрициолог формирует здоровый рацион питания, помогая привить полезные привычки себе и
                            своим клиентам. Он разбирается в химическом составе продуктов, их сочетаемости и воздействии
                            на организм. Он компетентен в спортивной и классической диетологии, психологии,
                            эндокринологии, генетике.
                        </p>
                    </div>
                </div>
            </div>
            <div class="modal__course-row">
                <div class="modal__course-col">
                    <h3 class="modal__course-block-heading">
                        Что вы получите после вебианара
                    </h3>
                </div>
                <div class="modal__course-col">
                    <div class="modal__course-text">

                        <ul>
                            <li>
                                Получите базовые знания для улучшения собственного здоровья и здоровья вашей семьи

                            </li>
                            <li>
                                Научитесь рассчитывать индекс массы тела и идеального веса

                            </li>
                            <li>
                                Сможете диагностировать и восполнять дефициты макро- и микронутриентов в рационе

                            </li>
                            <li>
                                Рассчитаете свой основной метаболизм и необходимую норму килокалорий

                            </li>
                            <li>
                                Научитесь оценивать пищевую корзину и составлять программы питания для решения задач
                                клиентов

                            </li>
                            <li>
                                Обучите клиента выстраивать здоровые отношения с едой

                            </li>
                            <li>
                                Познакомитесь с профилактикой заболеваний, нарушениями метаболизма, сможете
                                корректировать это с помощью различных подходов к питанию и физическим нагрузкам.
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="modal__course-row">
                <div class="modal__course-col">
                    <h3 class="modal__course-block-heading">
                        Начало вебинара
                    </h3>
                </div>
                <div class="modal__course-col modal__course-col--centered">
                    <div class="modal__course-text">
                        4 декабря 2022 года<br>
                        15:00
                    </div>
                </div>
            </div>
            <a href="#subscribed" class="orange-btn modal__course-link">
                Записаться
            </a>
        </div>

    </div>
</div>
<div class="modal js-modal" id="tutorial-start">
    <div class="modal__inner">
        <button class="modal__close js-close-modal js-skip-tutorial">
            <svg width="14" height="14" aria-hidden="true" class="icon-close">
                <use xlink:href="#close"></use>
            </svg>
        </button>
        <div class="modal__standard">
            <h3 class="modal__standard-heading">
                Добро пожаловать в личный кабинет!
            </h3>
            <div class="modal__standard-text">
                <p>
                    Мы хотим рассказать вам о том, как устроена главная страница нашего сервиса
                </p>
            </div>
            <a href="#tutorial-calendar" class="orange-btn modal__standard-btn ">
                Вперед
            </a>
            <a href="#" class="modal__bottom-link js-skip-tutorial">
                Пропустить
            </a>
        </div>
    </div>
</div>
<div class="modal js-modal" id="tutorial-calendar" data-highlight-section="events-calendar">
    <div class="modal__inner modal__inner--bottom-left">
        <button class="modal__close js-close-modal js-skip-tutorial">
            <svg width="14" height="14" aria-hidden="true" class="icon-close">
                <use xlink:href="#close"></use>
            </svg>
        </button>
        <div class="modal__standard">
            <h3 class="modal__standard-heading">
                Календарь событий
            </h3>
            <div class="modal__standard-text">
                <p>
                    Здесь отражены все бесплатные события, а также ваши купленные курсы.
                </p>
                <p>
                    Вы можете выбирать нужный отрезок времени, просто нажав 2 необходимые даты, например 20 и 26
                </p>
                <p>
                    Чтобы скрыть события, просто нажмите текущее число
                </p>
            </div>
            <a href="#tutorial-recommendations" class="orange-btn modal__standard-btn">
                Далее
            </a>
        </div>
    </div>
</div>
<div class="modal js-modal" id="tutorial-recommendations" data-highlight-section="recommendations">
    <div class="modal__inner modal__inner--top-left">
        <button class="modal__close js-close-modal js-skip-tutorial">
            <svg width="14" height="14" aria-hidden="true" class="icon-close">
                <use xlink:href="#close"></use>
            </svg>
        </button>
        <div class="modal__standard">
            <h3 class="modal__standard-heading">
                Рекомендации для вас
            </h3>
            <div class="modal__standard-text">
                <p>
                    Здесь собраны наши продукты, подобранные на основе ваших интересах.
                </p>
                <p>
                    Чтобы их изменить перейдите в раздел <b>«Мои интересы»</b>
                </p>
            </div>
            <a href="#tutorial-finish" class="orange-btn modal__standard-btn">
                Далее
            </a>
        </div>
    </div>
</div>
<div class="modal js-modal" id="tutorial-finish">
    <div class="modal__inner">
        <button class="modal__close js-close-modal js-skip-tutorial">
            <svg width="14" height="14" aria-hidden="true" class="icon-close">
                <use xlink:href="#close"></use>
            </svg>
        </button>
        <div class="modal__standard">
            <h3 class="modal__standard-heading">
                На этом все!
            </h3>
            <div class="modal__standard-text">
                <p>
                    Спасибо за внимание и успехов на курсах!
                </p>
            </div>
            <button class="orange-btn modal__standard-btn js-close-modal js-skip-tutorial">
                Ок
            </button>
        </div>
    </div>
</div>
<div class="modal js-modal" id="subscribed">
    <div class="modal__inner">
        <button class="modal__close js-close-modal">
            <svg width="14" height="14" aria-hidden="true" class="icon-close">
                <use xlink:href="#close"></use>
            </svg>
        </button>
        <div class="modal__standard">
            <h3 class="modal__standard-heading">
                Вы успешно записаны на мероприятие!
            </h3>
            <div class="modal__standard-text">
                <p>
                    Мероприятие отразиться во вкладке «Мои продукты», а также в «Календаре событий» на главной странице
                </p>
            </div>
            <button class="orange-btn modal__standard-btn js-close-modal">
                Ок
            </button>
        </div>
    </div>
</div>
<div class="modal js-modal" id="change-email">
    <div class="modal__inner">
        <button class="modal__close js-close-modal">
            <svg width="14" height="14" aria-hidden="true" class="icon-close">
                <use xlink:href="#close"></use>
            </svg>
        </button>
        <div class="modal__standard">
            <h3 class="modal__standard-heading">
                Главное — безопасность!
            </h3>
            <div class="modal__standard-text modal__standard-text--small-margin">
                <p>
                    Мы отправим код подтверждения на +7 906 123 12 34
                </p>
            </div>
            <form class="modal__form" method="POST" action="/" data-need-validation="">
                <div class="modal__form-fields">
                    <div class="modal__form-field">
                        <input type="email" class="text-field__input" name="email" placeholder="Новая почта"
                            required="">
                    </div>
                </div>
                <button class="orange-btn modal__form-submit" type="submit">
                    Получить код
                </button>
            </form>
        </div>
    </div>
</div>
<div class="modal js-modal" id="email-code">
    <div class="modal__inner">
        <button class="modal__close js-close-modal">
            <svg width="14" height="14" aria-hidden="true" class="icon-close">
                <use xlink:href="#close"></use>
            </svg>
        </button>
        <div class="modal__standard">
            <h3 class="modal__standard-heading">
                Главное — безопасность!
            </h3>
            <div class="modal__standard-text modal__standard-text--small-margin">
                <p>
                    Мы отправим код подтверждения на +7 906 123 12 34 <em>Повторная отправка через 1:59</em>
                </p>
            </div>
            <form class="modal__form" method="POST" action="/" data-need-validation="">
                <div class="modal__form-fields">
                    <div class="modal__form-field">
                        <input type="tel" class="text-field__input js-custom-mask" data-mask="99999" name="code"
                            placeholder="______" required="" data-parsley-digits="5">
                    </div>
                </div>
                <button class="orange-btn modal__form-submit" type="submit">
                    Отправить
                </button>
            </form>
        </div>
    </div>
</div>
<div class="modal js-modal" id="email-code-success">
    <div class="modal__inner">
        <button class="modal__close js-close-modal">
            <svg width="14" height="14" aria-hidden="true" class="icon-close">
                <use xlink:href="#close"></use>
            </svg>
        </button>
        <div class="modal__standard">
            <h3 class="modal__standard-heading modal__standard-heading--green">
                Вы успешно изменили адрес почты
            </h3>
            <div class="modal__standard-text">
                <p>
                    Все уведомления и письма будт приходить на адрес <b>ivanova.8513 @mail.ru</b>
                </p>
            </div>
            <button class="orange-btn modal__standard-btn js-close-modal">
                Ок
            </button>
        </div>
    </div>
</div>
<div class="modal js-modal" id="email-code-failure">
    <div class="modal__inner">
        <button class="modal__close js-close-modal">
            <svg width="14" height="14" aria-hidden="true" class="icon-close">
                <use xlink:href="#close"></use>
            </svg>
        </button>
        <div class="modal__standard">
            <h3 class="modal__standard-heading modal__standard-heading--red">
                Что-то пошло не так
            </h3>
            <div class="modal__standard-text">
                <p>
                    По техническим причинам, мы не можем провести действие. Повторите попытку позже
                </p>
            </div>
            <button class="orange-btn orange-btn--hollow modal__standard-btn js-close-modal">
                Ок
            </button>
        </div>
    </div>
</div>

<div class="modal js-modal" id="change-phone">
    <div class="modal__inner">
        <button class="modal__close js-close-modal">
            <svg width="14" height="14" aria-hidden="true" class="icon-close">
                <use xlink:href="#close"></use>
            </svg>
        </button>
        <div class="modal__standard">
            <h3 class="modal__standard-heading">
                Номер телефона
            </h3>
            <div class="modal__standard-text modal__standard-text--small-margin">
                <p>
                    Для смены пароля, необходим номер телефона. На него мы пришлем СМС код для подвтерждения
                </p>
            </div>
            <form class="modal__form" method="POST" action="/" data-need-validation="">
                <div class="modal__form-fields">
                    <div class="modal__form-field">
                        <input type="tel" class="text-field__input js-phone-input" name="phone"
                            placeholder="+7 (___) ___-__-__" required="" data-parsley-phone="">
                    </div>
                </div>
                <button class="orange-btn modal__form-submit" type="submit">
                    Далее
                </button>
            </form>
        </div>
    </div>
</div>

<div class="modal js-modal" id="phone-code">
    <div class="modal__inner">
        <button class="modal__close js-close-modal">
            <svg width="14" height="14" aria-hidden="true" class="icon-close">
                <use xlink:href="#close"></use>
            </svg>
        </button>
        <div class="modal__standard">
            <h3 class="modal__standard-heading">
                Код из СМС
            </h3>
            <div class="modal__standard-text modal__standard-text--small-margin">
                <p>
                    Мы отправим код подтверждения на +7 906 123 12 34 <em>Повторная отправка через 1:59</em>
                </p>
            </div>
            <form class="modal__form" method="POST" action="/" data-need-validation="">
                <div class="modal__form-fields">
                    <div class="modal__form-field">
                        <input type="tel" class="text-field__input js-custom-mask" data-mask="99999" name="code"
                            placeholder="______" required="" data-parsley-digits="5">
                    </div>
                </div>
                <button class="orange-btn modal__form-submit" type="submit">
                    Отправить
                </button>
            </form>
        </div>
    </div>
</div>
<div class="modal js-modal" id="phone-code-send">
    <div class="modal__inner">
        <button class="modal__close js-close-modal">
            <svg width="14" height="14" aria-hidden="true" class="icon-close">
                <use xlink:href="#close"></use>
            </svg>
        </button>
        <div class="modal__standard">
            <h3 class="modal__standard-heading">
                Код из СМС
            </h3>
            <div class="modal__standard-text modal__standard-text--small-margin">
                <p>
                    Мы отправим код подтверждения на +7 906 123 12 34 <a href="#">Отправить повторно</a>
                </p>
            </div>
            <form class="modal__form" method="POST" action="/" data-need-validation="">
                <div class="modal__form-fields">
                    <div class="modal__form-field">
                        <input type="tel" class="text-field__input js-custom-mask" data-mask="99999" name="code"
                            placeholder="______" required="" data-parsley-digits="5">
                    </div>
                </div>
                <button class="orange-btn modal__form-submit" type="submit">
                    Отправить
                </button>
            </form>
            <a href="#" class="modal__bottom-link">
                Не пришел код?
            </a>
        </div>
    </div>
</div>


<div class="modal js-modal" id="preorder">
    <div class="modal__inner">
        <button class="modal__close js-close-modal">
            <svg width="14" height="14" aria-hidden="true" class="icon-close">
                <use xlink:href="#close"></use>
            </svg>
        </button>
        <div class="modal__standard">
            <h3 class="modal__standard-heading">
                Главное — безопасность!
            </h3>
            <div class="modal__standard-text modal__standard-text--small-margin">
                <p>
                    Оставьте ваши контакты, и мы свяжемся c вами в течении дня
                </p>
            </div>
            <form class="modal__form" method="POST" action="/" data-need-validation="">
                <div class="modal__form-fields">
                    <div class="modal__form-field">
                        <input type="text" class="text-field__input" name="name" placeholder="Имя" required="">
                    </div>
                    <div class="modal__form-field">
                        <input type="email" class="text-field__input" name="email" placeholder="Email" required="">
                    </div>
                </div>
                <button class="orange-btn modal__form-submit" type="submit">
                    Отправить
                </button>
            </form>
        </div>
    </div>
</div>
<div class="modal js-modal" id="preorder-send">
    <div class="modal__inner">
        <button class="modal__close js-close-modal">
            <svg width="14" height="14" aria-hidden="true" class="icon-close">
                <use xlink:href="#close"></use>
            </svg>
        </button>
        <div class="modal__standard">
            <h3 class="modal__standard-heading">
                Заявка отправлена
            </h3>
            <div class="modal__standard-text">
                <p>
                    Мы свяжемся с вами в течении дня!
                </p>
            </div>
            <button class="orange-btn modal__standard-btn js-close-modal">
                Ок
            </button>
        </div>
    </div>
</div>