<div class="sidebar">
    <div class="container">
        <div class="sidebar__inner">
            <a href="/" class="sidebar__logo">
                <img src="img/logo.svg" alt="" class="sidebar__logo-image">
            </a>
            <div class="sidebar__account">
                <a href="#" class="sidebar__account-photo-container">
                    <img src="img/account-photo.jpg" alt="" class="sidebar__account-photo">
                    <div class="sidebar__account-edit-icon">
                        <svg width="14" height="14" aria-hidden="true" class="icon-camera">
                            <use xlink:href="#camera"></use>
                        </svg>
                    </div>
                </a>
                <h3 class="sidebar__account-name">
                    Иванова Мария
                </h3>
                <a href="account.html" class="sidebar__account-change-btn">
                    Изменить данные
                </a>
                <div class="sidebar__account-balance">
                    <div class="sidebar__account-balance-amount">
                        5 000 ₽
                    </div>
                    <a href="#" class="sidebar__account-balance-add">
                        Пополнить
                        <svg width="14" height="14" aria-hidden="true" class="icon-add">
                            <use xlink:href="#add"></use>
                        </svg>
                    </a>
                </div>
            </div>
            <nav class="sidebar__nav">
                <ul class="sidebar__nav-list">
                    <li class="sidebar__nav-list-item active">
                        <a href="/" class="sidebar__nav-link">
                            <svg width="14" height="14" aria-hidden="true" class="icon-home">
                                <use xlink:href="#home"></use>
                            </svg>
                            Главная
                        </a>
                    </li>
                    <li class="sidebar__nav-list-item">
                        <a href="#" class="sidebar__nav-link">
                            <svg width="14" height="14" aria-hidden="true" class="icon-products">
                                <use xlink:href="#products"></use>
                            </svg>
                            Мои продукты
                        </a>
                    </li>
                    <li class="sidebar__nav-list-item">
                        <a href="notifications.html" class="sidebar__nav-link">
                            <svg width="14" height="14" aria-hidden="true" class="icon-notifications">
                                <use xlink:href="#notifications"></use>
                            </svg>
                            Уведомления
                            <span class="sidebar__nav-link-count">
                                10
                            </span>
                        </a>
                    </li>
                    <li class="sidebar__nav-list-item">
                        <a href="#" class="sidebar__nav-link">
                            <svg width="14" height="14" aria-hidden="true" class="icon-payments">
                                <use xlink:href="#payments"></use>
                            </svg>
                            Мои платежи
                        </a>
                    </li>
                    <li class="sidebar__nav-list-item">
                        <a href="#" class="sidebar__nav-link">
                            <svg width="14" height="14" aria-hidden="true" class="icon-catalog">
                                <use xlink:href="#catalog"></use>
                            </svg>
                            Каталог продуктов
                        </a>
                    </li>
                    <li class="sidebar__nav-list-item">
                        <a href="interests.html" class="sidebar__nav-link">
                            <svg width="14" height="14" aria-hidden="true" class="icon-interests">
                                <use xlink:href="#interests"></use>
                            </svg>
                            Мои интересы
                        </a>
                    </li>
                </ul>
            </nav>
            <div class="sidebar__actions">
                <a href="#" class="sidebar__nav-actions-btn">
                    <svg width="14" height="14" aria-hidden="true" class="icon-question">
                        <use xlink:href="#question"></use>
                    </svg>
                    FAQ
                </a>
                <a href="#" class="sidebar__nav-actions-btn">
                    <svg width="14" height="14" aria-hidden="true" class="icon-exit">
                        <use xlink:href="#exit"></use>
                    </svg>
                    Выйти
                </a>
            </div>
        </div>
    </div>
</div>