{{#extend "layout"}}
{{#content "main"}}



<section class="account">
    <div class="container">
        <h1 class="account__heading">
            Личные данные
        </h1>
        <div class="account__heading-heading-text">
            <p>
                Здесь вы можете отредактировать информацию о себе и добавить недостающую
            </p>
        </div>
        <div class="account__content">
            <div class="account__nav">
                <div class="account__nav-links">


                    <a href="account.html" class="account__nav-link">
                        Общая информация
                    </a>
                    <a href="account-password.html" class="account__nav-link active">
                        Сброс пароля
                    </a>

                </div>
            </div>
            <form action="/" method="POST" class="account__form" data-need-validation="">
                <div class="account__form-fields">
                    <div class="account__form-field">
                        <label class="text-field">
                            <span class="text-field__label-text">
                                Старый пароль
                            </span>
                            <input type="password" class="text-field__input" value="" required="" name="oldpassword" autocomplete="new-password">
                        </label>
                    </div>
                    <div class="account__form-field">
                        <label class="text-field">
                            <span class="text-field__label-text">
                                Новый пароль
                            </span>
                            <input type="password" class="text-field__input" value="" required="" name="newpassword" autocomplete="new-password" id="newpassword">
                        </label>
                    </div>
                    <div class="account__form-field">
                        <label class="text-field">
                            <span class="text-field__label-text">
                                Повторите новый пароль
                            </span>
                            <input type="password" class="text-field__input" value="" required="" name="newpassword-2" autocomplete="new-password" data-parsley-equalto="#newpassword">
                        </label>
                    </div>

                </div>
                <div class="account__form-controls">
                    <button class="account__form-submit" type="submit">
                        Изменить пароль
                    </button>
                </div>

            </form>
        </div>
    </div>
</section>




{{/content}}
{{/extend}}