{{#extend "layout"}}
{{#content "main"}}



<section class="events js-events">
    <div class="container">


        <h2 class="events__heading">
            Календарь событий
        </h2>
        <div class="events__content">
            <div class="events__calendar">
                <button class="events__calendar-arrow events__calendar-arrow--prev">
                    <svg width="14" height="14" aria-hidden="true" class="icon-slider-arrow-left">
                        <use xlink:href="#slider-arrow-left"></use>
                    </svg>
                </button>
                <div class="events__calendar-scroll-container">
                    <div class="events__calendar-months">


                        <div class="events__calendar-month">
                            <span class="events__calendar-month-name">
                                ФЕВРАЛЬ
                            </span>
                            <div class="events__calendar-days">
                                <a href="#" class="events__calendar-card disabled">
                                    <div class="events__calendar-card-day">
                                        Чт
                                    </div>
                                    <div class="events__calendar-card-date">
                                        17
                                    </div>

                                </a>
                                <a href="#" class="events__calendar-card disabled">
                                    <div class="events__calendar-card-day">
                                        Пт
                                    </div>
                                    <div class="events__calendar-card-date">
                                        18
                                    </div>

                                </a>
                                <a href="#" class="events__calendar-card events__calendar-card--weekend active">
                                    <div class="events__calendar-card-day">
                                        Сб
                                    </div>
                                    <div class="events__calendar-card-date">
                                        19
                                    </div>
                                    <div class="events__calendar-card-dots">
                                        <div class="events__calendar-card-dot">

                                        </div>
                                        <div class="events__calendar-card-dot events__calendar-card-dot--blue">

                                        </div>
                                        <div class="events__calendar-card-dot events__calendar-card-dot--green">

                                        </div>
                                    </div>
                                </a>
                                <a href="#" class="events__calendar-card events__calendar-card--weekend">
                                    <div class="events__calendar-card-day">
                                        ВС
                                    </div>
                                    <div class="events__calendar-card-date">
                                        20
                                    </div>
                                    <div class="events__calendar-card-dots">
                                        <div class="events__calendar-card-dot">

                                        </div>
                                        <div class="events__calendar-card-dot events__calendar-card-dot--green">

                                        </div>
                                    </div>
                                </a>
                                <a href="#" class="events__calendar-card ">
                                    <div class="events__calendar-card-day">
                                        ПН
                                    </div>
                                    <div class="events__calendar-card-date">
                                        21
                                    </div>
                                    <div class="events__calendar-card-dots">

                                        <div class="events__calendar-card-dot events__calendar-card-dot--orange">

                                        </div>
                                        <div class="events__calendar-card-dot events__calendar-card-dot--blue">

                                        </div>
                                        <div class="events__calendar-card-dot events__calendar-card-dot--green">

                                        </div>
                                    </div>
                                </a>
                                <a href="#" class="events__calendar-card ">
                                    <div class="events__calendar-card-day">
                                        Вт
                                    </div>
                                    <div class="events__calendar-card-date">
                                        22
                                    </div>
                                    <div class="events__calendar-card-dots">

                                        <div class="events__calendar-card-dot events__calendar-card-dot--orange">

                                        </div>
                                        <div class="events__calendar-card-dot events__calendar-card-dot--blue">

                                        </div>
                                        <div class="events__calendar-card-dot events__calendar-card-dot--green">

                                        </div>
                                    </div>
                                </a>
                                <a href="#" class="events__calendar-card ">
                                    <div class="events__calendar-card-day">
                                        Ср
                                    </div>
                                    <div class="events__calendar-card-date">
                                        23
                                    </div>
                                    <div class="events__calendar-card-dots">

                                        <div class="events__calendar-card-dot events__calendar-card-dot--orange">

                                        </div>
                                        <div class="events__calendar-card-dot events__calendar-card-dot--blue">

                                        </div>
                                        <div class="events__calendar-card-dot events__calendar-card-dot--green">

                                        </div>
                                    </div>
                                </a>
                                <a href="#" class="events__calendar-card ">
                                    <div class="events__calendar-card-day">
                                        Чт
                                    </div>
                                    <div class="events__calendar-card-date">
                                        24
                                    </div>
                                    <div class="events__calendar-card-dots">

                                        <div class="events__calendar-card-dot events__calendar-card-dot--orange">

                                        </div>
                                        <div class="events__calendar-card-dot events__calendar-card-dot--blue">

                                        </div>
                                        <div class="events__calendar-card-dot events__calendar-card-dot--green">

                                        </div>
                                    </div>
                                </a>
                                <a href="#" class="events__calendar-card ">
                                    <div class="events__calendar-card-day">
                                        Пт
                                    </div>
                                    <div class="events__calendar-card-date">
                                        25
                                    </div>
                                    <div class="events__calendar-card-dots">

                                        <div class="events__calendar-card-dot events__calendar-card-dot--orange">

                                        </div>
                                        <div class="events__calendar-card-dot events__calendar-card-dot--blue">

                                        </div>
                                        <div class="events__calendar-card-dot events__calendar-card-dot--green">

                                        </div>
                                    </div>
                                </a>
                                <a href="#" class="events__calendar-card events__calendar-card--weekend">
                                    <div class="events__calendar-card-day">
                                        Сб
                                    </div>
                                    <div class="events__calendar-card-date">
                                        26
                                    </div>
                                    <div class="events__calendar-card-dots">

                                        <div class="events__calendar-card-dot">

                                        </div>
                                        <div class="events__calendar-card-dot events__calendar-card-dot--red">

                                        </div>
                                        <div class="events__calendar-card-dot events__calendar-card-dot--green">

                                        </div>
                                    </div>
                                </a>
                                <a href="#" class="events__calendar-card events__calendar-card--weekend">
                                    <div class="events__calendar-card-day">
                                        ВС
                                    </div>
                                    <div class="events__calendar-card-date">
                                        27
                                    </div>
                                    <div class="events__calendar-card-dots">
                                        <div class="events__calendar-card-dot">

                                        </div>
                                        <div class="events__calendar-card-dot events__calendar-card-dot--blue">

                                        </div>
                                        <div class="events__calendar-card-dot events__calendar-card-dot--green">

                                        </div>

                                    </div>
                                </a>
                                <a href="#" class="events__calendar-card ">
                                    <div class="events__calendar-card-day">
                                        ПН
                                    </div>
                                    <div class="events__calendar-card-date">
                                        28
                                    </div>
                                    <div class="events__calendar-card-dots">

                                        <div class="events__calendar-card-dot">

                                        </div>
                                        <div class="events__calendar-card-dot events__calendar-card-dot--green">

                                        </div>

                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="events__calendar-month">
                            <span class="events__calendar-month-name">
                                МАРТ
                            </span>
                            <div class="events__calendar-days">
                                <a href="#" class="events__calendar-card">
                                    <div class="events__calendar-card-day">
                                        Вт
                                    </div>
                                    <div class="events__calendar-card-date">
                                        1
                                    </div>
                                    <div class="events__calendar-card-dots">
                                        <div class="events__calendar-card-dot events__calendar-card-dot--orange">

                                        </div>
                                        <div class="events__calendar-card-dot events__calendar-card-dot--green">

                                        </div>
                                        <div class="events__calendar-card-dot events__calendar-card-dot--blue">

                                        </div>
                                    </div>
                                </a>
                                <a href="#" class="events__calendar-card">
                                    <div class="events__calendar-card-day">
                                        Ср
                                    </div>
                                    <div class="events__calendar-card-date">
                                        2
                                    </div>
                                    <div class="events__calendar-card-dots">
                                        <div class="events__calendar-card-dot events__calendar-card-dot--orange">

                                        </div>
                                        <div class="events__calendar-card-dot events__calendar-card-dot--green">

                                        </div>
                                        <div class="events__calendar-card-dot events__calendar-card-dot--blue">

                                        </div>
                                    </div>
                                </a>
                                <a href="#" class="events__calendar-card">
                                    <div class="events__calendar-card-day">
                                        Чт
                                    </div>
                                    <div class="events__calendar-card-date">
                                        3
                                    </div>
                                    <div class="events__calendar-card-dots">
                                        <div class="events__calendar-card-dot">

                                        </div>

                                        <div class="events__calendar-card-dot events__calendar-card-dot--green">

                                        </div>
                                    </div>
                                </a>
                                <a href="#" class="events__calendar-card">
                                    <div class="events__calendar-card-day">
                                        Пт
                                    </div>
                                    <div class="events__calendar-card-date">
                                        4
                                    </div>
                                    <div class="events__calendar-card-dots">


                                        <div class="events__calendar-card-dot events__calendar-card-dot--orange">

                                        </div>
                                        <div class="events__calendar-card-dot events__calendar-card-dot--blue">

                                        </div>
                                        <div class="events__calendar-card-dot events__calendar-card-dot--green">

                                        </div>
                                    </div>
                                </a>
                                <a href="#" class="events__calendar-card events__calendar-card--weekend">
                                    <div class="events__calendar-card-day">
                                        Сб
                                    </div>
                                    <div class="events__calendar-card-date">
                                        5
                                    </div>
                                    <div class="events__calendar-card-dots">


                                        <div class="events__calendar-card-dot events__calendar-card-dot--orange">

                                        </div>
                                        <div class="events__calendar-card-dot events__calendar-card-dot--blue">

                                        </div>
                                        <div class="events__calendar-card-dot events__calendar-card-dot--green">

                                        </div>
                                    </div>
                                </a>
                                <a href="#" class="events__calendar-card events__calendar-card--weekend">
                                    <div class="events__calendar-card-day">
                                        ВС
                                    </div>
                                    <div class="events__calendar-card-date">
                                        6
                                    </div>
                                    <div class="events__calendar-card-dots">


                                        <div class="events__calendar-card-dot events__calendar-card-dot--orange">

                                        </div>
                                        <div class="events__calendar-card-dot events__calendar-card-dot--blue">

                                        </div>
                                        <div class="events__calendar-card-dot events__calendar-card-dot--green">

                                        </div>
                                    </div>
                                </a>
                                <a href="#" class="events__calendar-card">
                                    <div class="events__calendar-card-day">
                                        ПН
                                    </div>
                                    <div class="events__calendar-card-date">
                                        7
                                    </div>
                                    <div class="events__calendar-card-dots">


                                        <div class="events__calendar-card-dot">

                                        </div>

                                        <div class="events__calendar-card-dot events__calendar-card-dot--green">

                                        </div>
                                    </div>
                                </a>
                                <a href="#" class="events__calendar-card">
                                    <div class="events__calendar-card-day">
                                        Вт
                                    </div>
                                    <div class="events__calendar-card-date">
                                        8
                                    </div>
                                    <div class="events__calendar-card-dots">
                                        <div class="events__calendar-card-dot events__calendar-card-dot--orange">

                                        </div>
                                        <div class="events__calendar-card-dot events__calendar-card-dot--blue">

                                        </div>
                                        <div class="events__calendar-card-dot events__calendar-card-dot--green">

                                        </div>
                                    </div>
                                </a>
                                <a href="#" class="events__calendar-card">
                                    <div class="events__calendar-card-day">
                                        Ср
                                    </div>
                                    <div class="events__calendar-card-date">
                                        9
                                    </div>
                                    <div class="events__calendar-card-dots">
                                        <div class="events__calendar-card-dot events__calendar-card-dot--orange">

                                        </div>
                                        <div class="events__calendar-card-dot events__calendar-card-dot--blue">

                                        </div>
                                        <div class="events__calendar-card-dot events__calendar-card-dot--green">

                                        </div>
                                    </div>
                                </a>
                                <a href="#" class="events__calendar-card">
                                    <div class="events__calendar-card-day">
                                        Чт
                                    </div>
                                    <div class="events__calendar-card-date">
                                        10
                                    </div>
                                    <div class="events__calendar-card-dots">
                                        <div class="events__calendar-card-dot events__calendar-card-dot--orange">

                                        </div>
                                        <div class="events__calendar-card-dot events__calendar-card-dot--blue">

                                        </div>
                                        <div class="events__calendar-card-dot events__calendar-card-dot--green">

                                        </div>
                                    </div>
                                </a>
                                <a href="#" class="events__calendar-card">
                                    <div class="events__calendar-card-day">
                                        Пт
                                    </div>
                                    <div class="events__calendar-card-date">
                                        11
                                    </div>
                                    <div class="events__calendar-card-dots">
                                        <div class="events__calendar-card-dot events__calendar-card-dot--orange">

                                        </div>
                                        <div class="events__calendar-card-dot events__calendar-card-dot--blue">

                                        </div>
                                        <div class="events__calendar-card-dot events__calendar-card-dot--green">

                                        </div>
                                    </div>
                                </a>
                                <a href="#" class="events__calendar-card events__calendar-card--weekend">
                                    <div class="events__calendar-card-day">
                                        Сб
                                    </div>
                                    <div class="events__calendar-card-date">
                                        12
                                    </div>
                                    <div class="events__calendar-card-dots">
                                        <div class="events__calendar-card-dot events__calendar-card-dot--orange">

                                        </div>
                                        <div class="events__calendar-card-dot events__calendar-card-dot--blue">

                                        </div>
                                        <div class="events__calendar-card-dot events__calendar-card-dot--green">

                                        </div>
                                    </div>
                                </a>
                                <a href="#" class="events__calendar-card events__calendar-card--weekend">
                                    <div class="events__calendar-card-day">
                                        Вс
                                    </div>
                                    <div class="events__calendar-card-date">
                                        13
                                    </div>
                                    <div class="events__calendar-card-dots">
                                        <div class="events__calendar-card-dot events__calendar-card-dot--orange">

                                        </div>
                                        <div class="events__calendar-card-dot events__calendar-card-dot--blue">

                                        </div>
                                        <div class="events__calendar-card-dot events__calendar-card-dot--green">

                                        </div>
                                    </div>
                                </a>
                                <a href="#" class="events__calendar-card">
                                    <div class="events__calendar-card-day">
                                        Пн
                                    </div>
                                    <div class="events__calendar-card-date">
                                        14
                                    </div>
                                    <div class="events__calendar-card-dots">
                                        <div class="events__calendar-card-dot events__calendar-card-dot--orange">

                                        </div>
                                        <div class="events__calendar-card-dot events__calendar-card-dot--blue">

                                        </div>
                                        <div class="events__calendar-card-dot events__calendar-card-dot--green">

                                        </div>
                                    </div>
                                </a>
                                <a href="#" class="events__calendar-card">
                                    <div class="events__calendar-card-day">
                                        Вт
                                    </div>
                                    <div class="events__calendar-card-date">
                                        15
                                    </div>
                                    <div class="events__calendar-card-dots">
                                        <div class="events__calendar-card-dot events__calendar-card-dot--orange">

                                        </div>
                                        <div class="events__calendar-card-dot events__calendar-card-dot--blue">

                                        </div>
                                        <div class="events__calendar-card-dot events__calendar-card-dot--green">

                                        </div>
                                    </div>
                                </a>
                                <a href="#" class="events__calendar-card">
                                    <div class="events__calendar-card-day">
                                        Ср
                                    </div>
                                    <div class="events__calendar-card-date">
                                        16
                                    </div>
                                    <div class="events__calendar-card-dots">
                                        <div class="events__calendar-card-dot events__calendar-card-dot--orange">

                                        </div>
                                        <div class="events__calendar-card-dot events__calendar-card-dot--blue">

                                        </div>
                                        <div class="events__calendar-card-dot events__calendar-card-dot--green">

                                        </div>
                                    </div>
                                </a>
                                <a href="#" class="events__calendar-card">
                                    <div class="events__calendar-card-day">
                                        Чт
                                    </div>
                                    <div class="events__calendar-card-date">
                                        17
                                    </div>
                                    <div class="events__calendar-card-dots">
                                        <div class="events__calendar-card-dot events__calendar-card-dot--orange">

                                        </div>
                                        <div class="events__calendar-card-dot events__calendar-card-dot--blue">

                                        </div>
                                        <div class="events__calendar-card-dot events__calendar-card-dot--green">

                                        </div>
                                    </div>
                                </a>
                                <a href="#" class="events__calendar-card">
                                    <div class="events__calendar-card-day">
                                        Пт
                                    </div>
                                    <div class="events__calendar-card-date">
                                        18
                                    </div>
                                    <div class="events__calendar-card-dots">
                                        <div class="events__calendar-card-dot events__calendar-card-dot--orange">

                                        </div>
                                        <div class="events__calendar-card-dot events__calendar-card-dot--blue">

                                        </div>
                                        <div class="events__calendar-card-dot events__calendar-card-dot--green">

                                        </div>
                                    </div>
                                </a>
                                <a href="#" class="events__calendar-card events__calendar-card--weekend">
                                    <div class="events__calendar-card-day">
                                        Сб
                                    </div>
                                    <div class="events__calendar-card-date">
                                        19
                                    </div>
                                    <div class="events__calendar-card-dots">
                                        <div class="events__calendar-card-dot events__calendar-card-dot--orange">

                                        </div>
                                        <div class="events__calendar-card-dot events__calendar-card-dot--blue">

                                        </div>
                                        <div class="events__calendar-card-dot events__calendar-card-dot--green">

                                        </div>
                                    </div>
                                </a>
                                <a href="#" class="events__calendar-card events__calendar-card--weekend">
                                    <div class="events__calendar-card-day">
                                        Вс
                                    </div>
                                    <div class="events__calendar-card-date">
                                        20
                                    </div>
                                    <div class="events__calendar-card-dots">
                                        <div class="events__calendar-card-dot events__calendar-card-dot--orange">

                                        </div>
                                        <div class="events__calendar-card-dot events__calendar-card-dot--blue">

                                        </div>
                                        <div class="events__calendar-card-dot events__calendar-card-dot--green">

                                        </div>
                                    </div>
                                </a>
                                <a href="#" class="events__calendar-card">
                                    <div class="events__calendar-card-day">
                                        Пн
                                    </div>
                                    <div class="events__calendar-card-date">
                                        21
                                    </div>
                                    <div class="events__calendar-card-dots">
                                        <div class="events__calendar-card-dot events__calendar-card-dot--orange">

                                        </div>
                                        <div class="events__calendar-card-dot events__calendar-card-dot--blue">

                                        </div>
                                        <div class="events__calendar-card-dot events__calendar-card-dot--green">

                                        </div>
                                    </div>
                                </a>
                                <a href="#" class="events__calendar-card">
                                    <div class="events__calendar-card-day">
                                        Вт
                                    </div>
                                    <div class="events__calendar-card-date">
                                        22
                                    </div>
                                    <div class="events__calendar-card-dots">
                                        <div class="events__calendar-card-dot events__calendar-card-dot--orange">

                                        </div>
                                        <div class="events__calendar-card-dot events__calendar-card-dot--blue">

                                        </div>
                                        <div class="events__calendar-card-dot events__calendar-card-dot--green">

                                        </div>
                                    </div>
                                </a>
                                <a href="#" class="events__calendar-card">
                                    <div class="events__calendar-card-day">
                                        Ср
                                    </div>
                                    <div class="events__calendar-card-date">
                                        23
                                    </div>
                                    <div class="events__calendar-card-dots">
                                        <div class="events__calendar-card-dot events__calendar-card-dot--orange">

                                        </div>
                                        <div class="events__calendar-card-dot events__calendar-card-dot--blue">

                                        </div>
                                        <div class="events__calendar-card-dot events__calendar-card-dot--green">

                                        </div>
                                    </div>
                                </a>
                                <a href="#" class="events__calendar-card">
                                    <div class="events__calendar-card-day">
                                        Чт
                                    </div>
                                    <div class="events__calendar-card-date">
                                        24
                                    </div>
                                    <div class="events__calendar-card-dots">
                                        <div class="events__calendar-card-dot events__calendar-card-dot--orange">

                                        </div>
                                        <div class="events__calendar-card-dot events__calendar-card-dot--blue">

                                        </div>
                                        <div class="events__calendar-card-dot events__calendar-card-dot--green">

                                        </div>
                                    </div>
                                </a>
                                <a href="#" class="events__calendar-card">
                                    <div class="events__calendar-card-day">
                                        Пт
                                    </div>
                                    <div class="events__calendar-card-date">
                                        25
                                    </div>
                                    <div class="events__calendar-card-dots">
                                        <div class="events__calendar-card-dot events__calendar-card-dot--orange">

                                        </div>
                                        <div class="events__calendar-card-dot events__calendar-card-dot--blue">

                                        </div>
                                        <div class="events__calendar-card-dot events__calendar-card-dot--green">

                                        </div>
                                    </div>
                                </a>
                                <a href="#" class="events__calendar-card events__calendar-card--weekend">
                                    <div class="events__calendar-card-day">
                                        Сб
                                    </div>
                                    <div class="events__calendar-card-date">
                                        26
                                    </div>
                                    <div class="events__calendar-card-dots">
                                        <div class="events__calendar-card-dot events__calendar-card-dot--orange">

                                        </div>
                                        <div class="events__calendar-card-dot events__calendar-card-dot--blue">

                                        </div>
                                        <div class="events__calendar-card-dot events__calendar-card-dot--green">

                                        </div>
                                    </div>
                                </a>
                                <a href="#" class="events__calendar-card events__calendar-card--weekend">
                                    <div class="events__calendar-card-day">
                                        Вс
                                    </div>
                                    <div class="events__calendar-card-date">
                                        27
                                    </div>
                                    <div class="events__calendar-card-dots">
                                        <div class="events__calendar-card-dot events__calendar-card-dot--orange">

                                        </div>
                                        <div class="events__calendar-card-dot events__calendar-card-dot--blue">

                                        </div>
                                        <div class="events__calendar-card-dot events__calendar-card-dot--green">

                                        </div>
                                    </div>
                                </a>

                            </div>
                        </div>

                    </div>
                </div>
                <button class="events__calendar-arrow events__calendar-arrow--next">
                    <svg width="14" height="14" aria-hidden="true" class="icon-slider-arrow-right">
                        <use xlink:href="#slider-arrow-right"></use>
                    </svg>
                </button>
            </div>
            <div class="events__results">
                <ul class="events__list">
                    <li class="events__list-item">
                        <a href="#" class="events__card">
                            <div class="events__card-photo-container">
                                <img src="img/events/1.jpg" alt="" class="events__card-photo">
                            </div>
                            <div class="events__card-content">
                                <h4 class="events__card-title">
                                    Правила весеннего питания
                                </h4>
                                <div class="events__card-tags">
                                    <div class="events__card-tag events__card-tag--orange">
                                        Лекция
                                    </div>
                                    <div class="events__card-tag">
                                        14:00
                                    </div>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li class="events__list-item">
                        <a href="#" class="events__card">
                            <div class="events__card-photo-container">
                                <img src="img/events/2.jpg" alt="" class="events__card-photo">
                            </div>
                            <div class="events__card-content">
                                <h4 class="events__card-title">
                                    Домашний нутрициолог
                                </h4>
                                <div class="events__card-tags">
                                    <div class="events__card-tag events__card-tag--green">
                                        Курс
                                    </div>
                                    <div class="events__card-tag">
                                        14:00
                                    </div>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li class="events__list-item">
                        <a href="#" class="events__card">
                            <div class="events__card-photo-container">
                                <img src="img/events/3.jpg" alt="" class="events__card-photo">
                            </div>
                            <div class="events__card-content">
                                <h4 class="events__card-title">
                                    Онлайн-встреча для начинающих нутрициологов
                                </h4>
                                <div class="events__card-tags">
                                    <div class="events__card-tag events__card-tag--orange">
                                        Лекция
                                    </div>
                                    <div class="events__card-tag">
                                        14:00
                                    </div>
                                </div>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
<section class="recomedations">
    <div class="container">


        <div class="recomendations__top-row">
            <h2 class="recomendations__heading">
                Рекомендации для вас
            </h2>
            <a href="#" class="recomendations__settings">
                <span class="recomendations__settings-text">
                    Настроить интересы
                </span>

                <svg width="14" height="14" aria-hidden="true" class="icon-settings">
                    <use xlink:href="#settings"></use>
                </svg>
            </a>
        </div>

        <div class="recomendations__content">
            <ul class="recomendations__list">
                <li class="recomendations__list-item recomendations__list-item--wide">
                    <a href="#"
                        class="recomendations__card recomendations__card--aligned-top recomendations__card--large">
                        <div class="recomendations__card-bg">
                        
                            <picture>
                                <source srcset="img/recomedations/1-mobile.svg" media="(max-width: 640px)">
                                <img src="img/recomedations/1.svg" alt="" class="recomendations__card-bg-image">
                            </picture>
                        </div>
                        <h4 class="recomendations__card-title recomendations__card-title--large">
                            Укажите ваши интересы
                        </h4>
                        <div class="recomendations__card-text recomendations__card-text--large">
                            Указав свои интересы, мы сможем рекомендовать вам наиболее персональные продукты
                        </div>
                        <div class="recomendations__card-bottom-row">
                            <div class="recomendations__card-action">
                                Перейти в настройки
                                <svg width="14" height="14" aria-hidden="true" class="icon-camera">
                                    <use xlink:href="#arrow-right"></use>
                                </svg>
                            </div>
                        </div>

                    </a>
                </li>
                <li class="recomendations__list-item">
                    <a href="#" class="recomendations__card">
                        <div class="recomendations__card-bg">
                            <img src="img/recomedations/2.jpg" alt="" class="recomendations__card-bg-image">
                        </div>
                        <div class="recomendations__card-tags">
                            <div class="recomendations__card-tag">
                                4 декабря
                            </div>
                            <div class="recomendations__card-tag">
                                19:00
                            </div>
                        </div>
                        <h4 class="recomendations__card-title">
                            Онлайн-встреча для начинающих нутрициологов
                        </h4>
                        <div class="recomendations__card-text ">
                            Краткое описание в две строки<br> о пользе продукта
                        </div>
                        <div class="recomendations__card-bottom-row">
                            <div class="recomendations__card-action">
                                Подробнее
                                <svg width="14" height="14" aria-hidden="true" class="icon-camera">
                                    <use xlink:href="#arrow-right"></use>
                                </svg>
                            </div>
                            <div class="recomendations__card-prices">
                                <div class="recomendations__card-old-price">
                                    500 ₽
                                </div>
                                <div class="recomendations__card-new-price">
                                    250 ₽
                                </div>
                            </div>
                        </div>

                    </a>
                </li>
                <li class="recomendations__list-item">
                    <a href="#" class="recomendations__card">
                        <div class="recomendations__card-bg">
                            <img src="img/recomedations/3.jpg" alt="" class="recomendations__card-bg-image">
                        </div>
                        <div class="recomendations__card-tags">
                            <div class="recomendations__card-tag">
                                4 декабря
                            </div>
                            <div class="recomendations__card-tag">
                                19:00
                            </div>
                        </div>
                        <h4 class="recomendations__card-title">
                            Домашние<br> процедуры<br> оздоровления
                        </h4>

                        <div class="recomendations__card-bottom-row">
                            <div class="recomendations__card-action">
                                Подробнее
                                <svg width="14" height="14" aria-hidden="true" class="icon-camera">
                                    <use xlink:href="#arrow-right"></use>
                                </svg>
                            </div>
                            <div class="recomendations__card-prices">
                                <div class="recomendations__card-old-price">
                                    500 ₽
                                </div>
                                <div class="recomendations__card-new-price">
                                    250 ₽
                                </div>
                            </div>
                        </div>

                    </a>
                </li>
                <li class="recomendations__list-item">
                    <a href="#course-modal" class="recomendations__card">
                        <div class="recomendations__card-bg">
                            <img src="img/recomedations/4.jpg" alt="" class="recomendations__card-bg-image">
                        </div>
                        <div class="recomendations__card-tags">
                            <div class="recomendations__card-tag">
                                4 декабря
                            </div>
                            <div class="recomendations__card-tag">
                                19:00
                            </div>
                        </div>
                        <h4 class="recomendations__card-title">
                            Азбука детского<br> питания от 0 до 2 лет
                        </h4>

                        <div class="recomendations__card-bottom-row">
                            <div class="recomendations__card-action">
                                Подробнее
                                <svg width="14" height="14" aria-hidden="true" class="icon-camera">
                                    <use xlink:href="#arrow-right"></use>
                                </svg>
                            </div>
                            <div class="recomendations__card-prices">
                                <div class="recomendations__card-old-price">
                                    500 ₽
                                </div>
                                <div class="recomendations__card-new-price">
                                    250 ₽
                                </div>
                            </div>
                        </div>

                    </a>
                </li>
                <li class="recomendations__list-item">
                    <a href="#" class="recomendations__card">
                        <div class="recomendations__card-bg">
                            <img src="img/recomedations/5.jpg" alt="" class="recomendations__card-bg-image">
                        </div>
                        <div class="recomendations__card-tags">
                            <div class="recomendations__card-tag">
                                4 декабря
                            </div>
                            <div class="recomendations__card-tag">
                                19:00
                            </div>
                        </div>
                        <h4 class="recomendations__card-title">
                            Здоровье желудка
                        </h4>

                        <div class="recomendations__card-bottom-row">
                            <div class="recomendations__card-action">
                                Подробнее
                                <svg width="14" height="14" aria-hidden="true" class="icon-camera">
                                    <use xlink:href="#arrow-right"></use>
                                </svg>
                            </div>
                            <div class="recomendations__card-prices">
                                <div class="recomendations__card-old-price">
                                    500 ₽
                                </div>
                                <div class="recomendations__card-new-price">
                                    250 ₽
                                </div>
                            </div>
                        </div>

                    </a>
                </li>
                <li class="recomendations__list-item">
                    <a href="#" class="recomendations__card">
                        <div class="recomendations__card-bg">
                            <img src="img/recomedations/6.jpg" alt="" class="recomendations__card-bg-image">
                        </div>
                        <div class="recomendations__card-tags">
                            <div class="recomendations__card-tag">
                                25 февраля
                            </div>
                        </div>
                        <div class="recomendations__card-category">
                            Курс • 3 месяца
                        </div>
                        <h4 class="recomendations__card-title">
                            Домашний<br> нутриициотлог
                        </h4>

                        <div class="recomendations__card-bottom-row">
                            <div class="recomendations__card-action">
                                Подробнее
                                <svg width="14" height="14" aria-hidden="true" class="icon-camera">
                                    <use xlink:href="#arrow-right"></use>
                                </svg>
                            </div>
                            <div class="recomendations__card-prices">

                                <div class="recomendations__card-new-price">
                                    от 7 999 ₽
                                </div>
                            </div>
                        </div>

                    </a>
                </li>
                <li class="recomendations__list-item recomendations__list-item--narrow">
                    <a href="#" class="recomendations__card recomendations__card--small">
                        <div class="recomendations__card-bg">
                            <img src="img/recomedations/7.jpg" alt="" class="recomendations__card-bg-image">
                        </div>
                        <div class="recomendations__card-tags">
                            <div class="recomendations__card-tag">
                                25 февраля
                            </div>

                        </div>
                        <div class="recomendations__card-category">
                            Мастер-класс
                        </div>
                        <h4 class="recomendations__card-title">
                            Здоровые волосы
                        </h4>

                        <div class="recomendations__card-bottom-row">
                            <div class="recomendations__card-action">
                                Подробнее
                                <svg width="14" height="14" aria-hidden="true" class="icon-camera">
                                    <use xlink:href="#arrow-right"></use>
                                </svg>
                            </div>
                            <div class="recomendations__card-prices">

                                <div class="recomendations__card-new-price">
                                    999 ₽
                                </div>
                            </div>
                        </div>

                    </a>
                </li>
                <li class="recomendations__list-item recomendations__list-item--narrow">
                    <a href="#" class="recomendations__card recomendations__card--small">
                        <div class="recomendations__card-bg">
                            <img src="img/recomedations/8.jpg" alt="" class="recomendations__card-bg-image">
                        </div>
                        <div class="recomendations__card-tags">
                            <div class="recomendations__card-tag">
                                25 февраля
                            </div>

                        </div>
                        <div class="recomendations__card-category">
                            Курс • 3 месяца
                        </div>
                        <h4 class="recomendations__card-title">
                            Здоровье желудка
                        </h4>

                        <div class="recomendations__card-bottom-row">
                            <div class="recomendations__card-action">
                                Подробнее
                                <svg width="14" height="14" aria-hidden="true" class="icon-camera">
                                    <use xlink:href="#arrow-right"></use>
                                </svg>
                            </div>
                            <div class="recomendations__card-prices">
                                <div class="recomendations__card-old-price">
                                    1500 ₽
                                </div>
                                <div class="recomendations__card-new-price">
                                    999 ₽
                                </div>
                            </div>
                        </div>

                    </a>
                </li>
                <li class="recomendations__list-item recomendations__list-item--short">
                    <a href="#" class="recomendations__card recomendations__card--small">
                        <div class="recomendations__card-bg">
                            <img src="img/recomedations/9.svg" alt="" class="recomendations__card-bg-image">
                        </div>
                        <div class="recomendations__card-tags">
                            <div class="recomendations__card-tag">
                                Гайд
                            </div>

                        </div>

                        <h4 class="recomendations__card-title">
                            Календарь полезных привычек на 2022 год
                            <img src="img/download.svg" alt="" class="recomendations__card-download-icon">
                        </h4>


                    </a>
                </li>
                <li class="recomendations__list-item recomendations__list-item--short">
                    <a href="#" class="recomendations__card recomendations__card--small">
                        <div class="recomendations__card-bg">
                            <img src="img/recomedations/10.svg" alt="" class="recomendations__card-bg-image">
                        </div>


                        <h4 class="recomendations__card-title">
                            Подписывайся на наш
                            Telegram-канал
                            <img src="img/telegram.svg" alt="" class="recomendations__card-teleram-icon">
                        </h4>


                    </a>
                </li>
                <li class="recomendations__list-item">
                    <a href="#" class="recomendations__card">
                        <div class="recomendations__card-bg">
                            <img src="img/recomedations/3.jpg" alt="" class="recomendations__card-bg-image">
                        </div>
                        <div class="recomendations__card-tags">
                            <div class="recomendations__card-tag">
                                4 декабря
                            </div>
                            <div class="recomendations__card-tag">
                                19:00
                            </div>
                        </div>
                        <h4 class="recomendations__card-title">
                            Домашние<br> процедуры<br> оздоровления
                        </h4>

                        <div class="recomendations__card-bottom-row">
                            <div class="recomendations__card-action">
                                Подробнее
                                <svg width="14" height="14" aria-hidden="true" class="icon-camera">
                                    <use xlink:href="#arrow-right"></use>
                                </svg>
                            </div>
                            <div class="recomendations__card-prices">
                                <div class="recomendations__card-old-price">
                                    500 ₽
                                </div>
                                <div class="recomendations__card-new-price">
                                    250 ₽
                                </div>
                            </div>
                        </div>

                    </a>
                </li>
                <li class="recomendations__list-item">
                    <a href="#course-modal" class="recomendations__card">
                        <div class="recomendations__card-bg">
                            <img src="img/recomedations/4.jpg" alt="" class="recomendations__card-bg-image">
                        </div>
                        <div class="recomendations__card-tags">
                            <div class="recomendations__card-tag">
                                4 декабря
                            </div>
                            <div class="recomendations__card-tag">
                                19:00
                            </div>
                        </div>
                        <h4 class="recomendations__card-title">
                            Азбука детского<br> питания от 0 до 2 лет
                        </h4>

                        <div class="recomendations__card-bottom-row">
                            <div class="recomendations__card-action">
                                Подробнее
                                <svg width="14" height="14" aria-hidden="true" class="icon-camera">
                                    <use xlink:href="#arrow-right"></use>
                                </svg>
                            </div>
                            <div class="recomendations__card-prices">
                                <div class="recomendations__card-old-price">
                                    500 ₽
                                </div>
                                <div class="recomendations__card-new-price">
                                    250 ₽
                                </div>
                            </div>
                        </div>

                    </a>
                </li>
                <li class="recomendations__list-item">
                    <a href="#" class="recomendations__card">
                        <div class="recomendations__card-bg">
                            <img src="img/recomedations/5.jpg" alt="" class="recomendations__card-bg-image">
                        </div>
                        <div class="recomendations__card-tags">
                            <div class="recomendations__card-tag">
                                4 декабря
                            </div>
                            <div class="recomendations__card-tag">
                                19:00
                            </div>
                        </div>
                        <h4 class="recomendations__card-title">
                            Здоровье желудка
                        </h4>

                        <div class="recomendations__card-bottom-row">
                            <div class="recomendations__card-action">
                                Подробнее
                                <svg width="14" height="14" aria-hidden="true" class="icon-camera">
                                    <use xlink:href="#arrow-right"></use>
                                </svg>
                            </div>
                            <div class="recomendations__card-prices">
                                <div class="recomendations__card-old-price">
                                    500 ₽
                                </div>
                                <div class="recomendations__card-new-price">
                                    250 ₽
                                </div>
                            </div>
                        </div>

                    </a>
                </li>
                <li class="recomendations__list-item">
                    <a href="#" class="recomendations__card">
                        <div class="recomendations__card-bg">
                            <img src="img/recomedations/11.jpg" alt="" class="recomendations__card-bg-image">
                        </div>

                        <h4 class="recomendations__card-title">
                            Подарочный сертификат

                            <div class="recomendations__card-prices">
                                <div class="recomendations__card-old-price">
                                    500 ₽
                                </div>
                                <div class="recomendations__card-new-price">
                                    250 ₽
                                </div>
                            </div>
                        </h4>



                    </a>
                </li>
                <li class="recomendations__list-item">
                    <a href="#" class="recomendations__card">
                        <div class="recomendations__card-bg">
                            <img src="img/recomedations/6.jpg" alt="" class="recomendations__card-bg-image">
                        </div>
                        <div class="recomendations__card-tags">
                            <div class="recomendations__card-tag">
                                25 февраля
                            </div>
                        </div>
                        <div class="recomendations__card-category">
                            Курс • 3 месяца
                        </div>
                        <h4 class="recomendations__card-title">
                            Домашний<br> нутриициотлог
                        </h4>

                        <div class="recomendations__card-bottom-row">
                            <div class="recomendations__card-action">
                                Подробнее
                                <svg width="14" height="14" aria-hidden="true" class="icon-camera">
                                    <use xlink:href="#arrow-right"></use>
                                </svg>
                            </div>
                            <div class="recomendations__card-prices">

                                <div class="recomendations__card-new-price">
                                    от 7 999 ₽
                                </div>
                            </div>
                        </div>

                    </a>
                </li>
                <li class="recomendations__list-item">
                    <a href="#" class="recomendations__card">
                        <div class="recomendations__card-bg">
                            <img src="img/recomedations/12.jpg" alt="" class="recomendations__card-bg-image">
                        </div>


                        <h4 class="recomendations__card-title">

                            Экспресс<br> консультация
                        </h4>

                        <div class="recomendations__card-bottom-row">
                            <div class="recomendations__card-action">
                                Подробнее
                                <svg width="14" height="14" aria-hidden="true" class="icon-camera">
                                    <use xlink:href="#arrow-right"></use>
                                </svg>
                            </div>
                            <div class="recomendations__card-prices">

                                <div class="recomendations__card-new-price">
                                    от 4 999 ₽
                                </div>
                            </div>
                        </div>

                    </a>
                </li>
                <li class="recomendations__list-item">
                    <a href="#course-modal" class="recomendations__card">
                        <div class="recomendations__card-bg">
                            <img src="img/recomedations/4.jpg" alt="" class="recomendations__card-bg-image">
                        </div>
                        <div class="recomendations__card-tags">
                            <div class="recomendations__card-tag">
                                4 декабря
                            </div>
                            <div class="recomendations__card-tag">
                                19:00
                            </div>
                        </div>
                        <h4 class="recomendations__card-title">
                            Азбука детского<br> питания от 0 до 2 лет
                        </h4>

                        <div class="recomendations__card-bottom-row">
                            <div class="recomendations__card-action">
                                Подробнее
                                <svg width="14" height="14" aria-hidden="true" class="icon-camera">
                                    <use xlink:href="#arrow-right"></use>
                                </svg>
                            </div>
                            <div class="recomendations__card-prices">
                                <div class="recomendations__card-old-price">
                                    500 ₽
                                </div>
                                <div class="recomendations__card-new-price">
                                    250 ₽
                                </div>
                            </div>
                        </div>
                    </a>
                </li>
                <li class="recomendations__list-item recomendations__list-item--short">
                    <a href="#" class="recomendations__card recomendations__card--small">
                        <div class="recomendations__card-bg">
                            <img src="img/recomedations/9.svg" alt="" class="recomendations__card-bg-image">
                        </div>
                        <div class="recomendations__card-tags">
                            <div class="recomendations__card-tag">
                                Гайд
                            </div>
                        </div>
                        <h4 class="recomendations__card-title">
                            Календарь полезных привычек на 2022 год
                            <img src="img/download.svg" alt="" class="recomendations__card-download-icon">
                        </h4>
                    </a>
                </li>

                <li class="recomendations__list-item">
                    <a href="#" class="recomendations__card">
                        <div class="recomendations__card-bg">
                            <img src="img/recomedations/3.jpg" alt="" class="recomendations__card-bg-image">
                        </div>
                        <div class="recomendations__card-tags">
                            <div class="recomendations__card-tag">
                                4 декабря
                            </div>
                            <div class="recomendations__card-tag">
                                19:00
                            </div>
                        </div>
                        <h4 class="recomendations__card-title">
                            Домашние<br> процедуры<br> оздоровления
                        </h4>

                        <div class="recomendations__card-bottom-row">
                            <div class="recomendations__card-action">
                                Подробнее
                                <svg width="14" height="14" aria-hidden="true" class="icon-camera">
                                    <use xlink:href="#arrow-right"></use>
                                </svg>
                            </div>
                            <div class="recomendations__card-prices">
                                <div class="recomendations__card-old-price">
                                    500 ₽
                                </div>
                                <div class="recomendations__card-new-price">
                                    250 ₽
                                </div>
                            </div>
                        </div>

                    </a>
                </li>
                <li class="recomendations__list-item recomendations__list-item--short">
                    <a href="#" class="recomendations__card recomendations__card--small">
                        <div class="recomendations__card-bg">
                            <img src="img/recomedations/10.svg" alt="" class="recomendations__card-bg-image">
                        </div>
                        <h4 class="recomendations__card-title">
                            Подписывайся на наш
                            Telegram-канал
                            <img src="img/telegram.svg" alt="" class="recomendations__card-teleram-icon">
                        </h4>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</section>


{{/content}}
{{/extend}}