{{#extend "layout"}}
{{#content "main"}}



<section class="product">
    <div class="container">
        <a href="#" class="mobile-back-link">
            <svg width="14" height="14" aria-hidden="true" class="icon-arrow-back">
                <use xlink:href="#arrow-back"></use>
            </svg>
            Назад к каталогу
        </a>
        <div class="product__content">


            <div class="product__intro">
                <div class="product__intro-bg">

                    <picture>
                        <source srcset="img/product-intro-2-bg.jpg" media="(max-width: 640px)">
                        <img src="img/product-intro-2-bg.jpg" alt="" class="product__intro-bg-image">
                    </picture>
                </div>
                <div class="product__intro-content">
                    <a href="#" class="product__intro-back">
                        <svg width="14" height="14" aria-hidden="true" class="icon-arrow-back">
                            <use xlink:href="#arrow-back"></use>
                        </svg>
                        Назад к каталогу
                    </a>
                    <div class="product__intro-text-content">
                        <div class="product__intro-course-duration">
                            Курс • 3 месяца
                        </div>
                        <h1 class="product__intro-course-heading">
                            Здоровое пищеварение
                        </h1>
                        <div class="product__intro-course-desc">
                            <p>
                                Авторский от 5 до 10 недель онлайн-курс от Ольги Угрюмовой — нутрициолога и коуча по
                                здоровому образу жизни. А также какое-то дополнительное описание в несколько строк
                            </p>
                        </div>

                    </div>
                </div>
            </div>
            <div class="product__unlock-module">
                <div class="product__variants-new-modules">
                    <h3 class="product__variants-new-modules-heading">
                        Модуль доступен после прохождения онлайн-курса «Домашний нутрициолог»
                    </h3>
                    <div class="product__variants-new-modules-content">
                        <p>
                            Для того, чтобы получить доступ к модулям Здоровое пищеварение нужно пройти обучение по
                            основному курсу Домашний нутрициолог (Базовый, Индивидуальный или Полный).
                        </p>
                        <p>
                            Только после этого вы сможете купить дополнительные модули.
                        </p>
                    </div>
                </div>
            </div>
            <div class="product__nav-wrapper">
                <div class="product__nav">
                    <div class="product__nav-links">
                        <a href="#product-program" class="product__nav-link active">
                            Программа
                        </a>
                        <a href="#product-process" class="product__nav-link">
                            Как проходит обучение
                        </a>
                        <a href="#product-variants" class="product__nav-link">
                            Варианты участия
                        </a>
                        <a href="#product-bonuses" class="product__nav-link">
                            Бонусы
                        </a>
                    </div>
                </div>
            </div>

            <div class="product__program" id="product-program">
                <div class="product__program-top-row">
                    <h2 class="product__program-heading">
                        Программа курса
                    </h2>
                    <div class="product__program-features">
                        <div class="product__program-features-item">
                            <div class="product__program-features-item-amount">
                                60
                            </div>
                            <div class="product__program-features-item-text">
                                видеоматериалов
                            </div>
                        </div>
                        <div class="product__program-features-item">
                            <div class="product__program-features-item-amount">
                                20
                            </div>
                            <div class="product__program-features-item-text">
                                практических задач
                            </div>
                        </div>
                    </div>
                </div>
                <ol class="product__program-list">
                    <li class="product__program-list-item">
                        <div class="product__program-card">
                            <h3 class="product__program-card-title">
                                Вводный урок
                            </h3>
                            <div class="product__program-card-text">
                                Состав крови, гомеостаз, строение тела человека, работа клетки, митохондрии.
                            </div>
                        </div>
                    </li>
                    <li class="product__program-list-item">
                        <div class="product__program-card">
                            <h3 class="product__program-card-title">
                                Основа здорового образа жизни
                            </h3>
                            <div class="product__program-card-text">
                                Питьевой режим, сон. Научитесь поддерживать водно-солевой баланс, узнаиете как
                                правильно и эффективно спать.
                            </div>
                        </div>
                    </li>
                    <li class="product__program-list-item">
                        <div class="product__program-card">
                            <h3 class="product__program-card-title">
                                Жиры, белки и углеводы
                            </h3>
                            <div class="product__program-card-text">
                                Главные функции нутриентов, метаболизм. Антинутриенты в питании: глютен, фитиновая
                                кислота. Их влияние на иммунную систему.
                            </div>
                        </div>
                    </li>
                    <li class="product__program-list-item">
                        <div class="product__program-card">
                            <h3 class="product__program-card-title">
                                Связь питания и болезней
                            </h3>
                            <div class="product__program-card-text">
                                Как возникают болезни? Хроническое воспаление, раковые заболевания, аутоиммунные
                                заболевания.
                            </div>
                        </div>
                    </li>
                    <li class="product__program-list-item">
                        <div class="product__program-card">
                            <h3 class="product__program-card-title">
                                Лечебные стратегии питания.
                            </h3>
                            <div class="product__program-card-text">
                                Как при помощи питания поддержать организм в состоянии хронической болезни, стресса или
                                аутоимунного заболевания?
                            </div>
                        </div>
                    </li>
                    <li class="product__program-list-item">
                        <div class="product__program-card">
                            <h3 class="product__program-card-title">
                                Витамины и минералы.
                            </h3>
                            <div class="product__program-card-text">
                                Их роль, функция, диагностика дефицитов. Как поддерживать достаток витаминов при помощи
                                рациона.
                            </div>
                        </div>
                    </li>
                    <li class="product__program-list-item">
                        <div class="product__program-card">
                            <h3 class="product__program-card-title">
                                Пищеварение
                            </h3>
                            <div class="product__program-card-text">
                                Пищеварение и его влияние на развитие болезней. Дырявый кишечник, микробиом и пищевая
                                непереносимость.
                            </div>
                        </div>
                    </li>
                    <li class="product__program-list-item">
                        <div class="product__program-card">
                            <h3 class="product__program-card-title">
                                Нутрицевтические схемы поддержки организма.
                            </h3>
                            <div class="product__program-card-text">
                                Обзор добавок и суперфудов для поддержания иммунитета и здоровья.
                            </div>
                        </div>
                    </li>
                    <li class="product__program-list-item">
                        <div class="product__program-card">
                            <h3 class="product__program-card-title">
                                Как стресс влияет на нашу жизнь?
                            </h3>
                            <div class="product__program-card-text">
                                Как грамотно выйти из состояния хронического стресса. Домашние процедуры оздоровления.
                            </div>
                        </div>
                    </li>
                    <li class="product__program-list-item">
                        <div class="product__program-card">
                            <h3 class="product__program-card-title">
                                Продукты питания.
                            </h3>
                            <div class="product__program-card-text">
                                Как выбирать и покупать продукты, как читать состав. Продуктовая корзина семьи для
                                функционального питания.
                            </div>
                        </div>
                    </li>
                    <li class="product__program-list-item">
                        <div class="product__program-card">
                            <h3 class="product__program-card-title">
                                Составление рациона.
                            </h3>
                            <div class="product__program-card-text">
                                Практический урок. Как составить собственный рацион, способы приготовления пищи.
                            </div>
                        </div>
                    </li>
                    <li class="product__program-list-item">
                        <div class="product__program-card">
                            <h3 class="product__program-card-title">
                                Полный пакет курса
                            </h3>
                            <div class="product__program-card-text">
                                Уроки полного модуля по самостоятельной расшифровке анализов: общий анализ крови,
                                мочи, копрограмма и биохимия крови.
                            </div>
                        </div>
                    </li>
                </ol>
            </div>
            <div class="product__process" id="product-process">
                <div class="product__process-content">
                    <h2 class="product__process-heading">
                        Как проходит<br> обучение?
                    </h2>
                    <div class="product__process-text">
                        <p>
                            Небольшое текстовый абзац, если неоюбходимо небольшое описание. Небольшое текстовый абзац,
                            если неоюбходимо небольшое описание.
                        </p>
                    </div>
                </div>
                <ul class="product__process-list">
                    <li class="product__process-list-item">
                        <div class="product__process-card">
                            <img src="img/product-process/1.svg" alt="" class="product__process-card-icon">
                            <h3 class="product__process-card-title">
                                В режиме онлайн по расписанию
                            </h3>
                        </div>
                    </li>
                    <li class="product__process-list-item">
                        <div class="product__process-card">
                            <img src="img/product-process/2.svg" alt="" class="product__process-card-icon">
                            <h3 class="product__process-card-title">
                                Уроки доступны в записи согласно пакету участника
                            </h3>
                        </div>
                    </li>
                    <li class="product__process-list-item">
                        <div class="product__process-card">
                            <img src="img/product-process/3.svg" alt="" class="product__process-card-icon">
                            <h3 class="product__process-card-title">
                                Обратная связь после урока, ответы на вопросы
                            </h3>
                        </div>
                    </li>
                    <li class="product__process-list-item">
                        <div class="product__process-card">
                            <img src="img/product-process/4.svg" alt="" class="product__process-card-icon">
                            <h3 class="product__process-card-title">
                                Уроки доступны в записи согласно пакету участника
                            </h3>
                        </div>
                    </li>
                </ul>
            </div>

            <div class="product__bonuses" id="product-bonuses">
                <h2 class="product__bonuses-heading">
                    Бонусы для участников курса
                </h2>
                <ul class="product__bonuses-list">
                    <li class="product__bonuses-list-item">
                        <div class="product__bonuses-card">
                            <img src="img/bonuses/1.svg" alt="" class="product__bonuses-card-icon">
                            <div class="product__bonuses-card-text">
                                <p>
                                    Участие в общем чате с нутрициологом Угрюмовой Ольгой, возможность задать вопрос в
                                    процессе обучения
                                </p>
                            </div>
                        </div>
                    </li>
                    <li class="product__bonuses-list-item">
                        <div class="product__bonuses-card">
                            <img src="img/bonuses/2.svg" alt="" class="product__bonuses-card-icon">
                            <div class="product__bonuses-card-text">
                                <p>
                                    Доступ к Библиотеке Нутрициолога. Это электронное хранилище всех архивных материалов
                                    : записи онлайн-встречи, гайды, чек-листы и пр.
                                </p>
                            </div>
                        </div>
                    </li>
                    <li class="product__bonuses-list-item">
                        <div class="product__bonuses-card">
                            <img src="img/bonuses/3.svg" alt="" class="product__bonuses-card-icon">
                            <div class="product__bonuses-card-text">
                                <p>
                                    Дополнительные материалы для самообучения: видео-материалы, электронные книги,
                                    справочные материалы, электронные шпаргалки и пр.
                                </p>
                            </div>
                        </div>
                    </li>
                    <li class="product__bonuses-list-item">
                        <div class="product__bonuses-card">
                            <img src="img/bonuses/4.svg" alt="" class="product__bonuses-card-icon">
                            <div class="product__bonuses-card-text">
                                <p>
                                    Доступ к чату выпускников курса Домашний нутрициолог, где продолжается общение с
                                    единомышленниками
                                </p>
                            </div>
                        </div>
                    </li>
                    <li class="product__bonuses-list-item">
                        <div class="product__bonuses-card">
                            <img src="img/bonuses/5.svg" alt="" class="product__bonuses-card-icon">
                            <div class="product__bonuses-card-text">
                                <p>
                                    Доступ к прохождению дополнительных модулей : Детский модуль, Здоровое Пищеварение,
                                    Домашний Натуропат.
                                </p>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>




{{/content}}
{{/extend}}