.checkbox {
    display: inline-flex;
    align-items: center;
    gap: 1rem;
    flex-shrink: 0;
    cursor: pointer;
    user-select: none;
    font-style: normal;
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 2.1rem;
}

.checkbox__input {
    display: none;
}

.checkbox__mark {
    width: 1.7rem;
    height: 1.7rem;
    flex-shrink: 0;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 2px solid #eceae7;
    border-radius: 0.2rem;
    transition: border-color 0.2s;

    svg {
        width: 0.8rem;
        height: 1rem;
        fill: var(--orange);
        opacity: 0;
        transition: opacity 0.2s;
    }
}

.checkbox__input:checked ~ .checkbox__mark {
    border-color: var(--orange);
    svg {
        opacity: 1;
    }
}
