.events {
    margin-bottom: 3rem;
}

.events__content {
    background: #ffffff;
    border-radius: 1rem;
    padding: 0 6rem;
    padding-bottom: 4rem;
    padding-top: 2rem;

    @include breakpoint(mobile) {
        padding: 1.4rem;
        overflow: hidden;
    }
}

.events__list {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    grid-gap: 1.6rem;

    @include breakpoint(mobile) {
        grid-template-columns: minmax(0, 1fr);
        grid-gap: 1rem;
    }
}

.events__card {
    display: flex;
    align-items: flex-start;
    gap: 1rem;
    border: 1px solid #eaeaea;
    border-radius: 1rem;
    background-color: #fff;
    gap: 1rem;
    padding: 0.8rem;
}

.events__card-photo-container {
    position: relative;
    border-radius: 0.5rem;
    overflow: hidden;
    width: 6rem;
    flex-shrink: 0;
    &::before {
        content: '';
        display: block;
        padding-bottom: 100%;
    }
}

.events__card-photo {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.events__card-content {
    width: 50%;
    flex-grow: 1;
}

.events__card-title {
    font-style: normal;
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 1.8rem;
    margin-bottom: 0.6rem;
}

.events__card-tags {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 0.4rem;
}

.events__card-tag {
    display: inline-flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    flex-shrink: 0;
    white-space: nowrap;
    font-style: normal;
    font-weight: 500;
    font-size: 0.7rem;
    line-height: 1.2;
    padding: 0.4rem 0.5rem;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #301039;
    background: #fff7e2;
    border-radius: 0.5rem;

    &--orange {
        background: #ff9770;
        color: white;
    }

    &--green {
        background: #5ad1a9;
        color: white;
    }
}

.events__calendar {
    margin-bottom: 2.8rem;
    position: relative;
}

.events__calendar-arrow {
    width: 4rem;
    height: 4rem;
    position: absolute;
    bottom: 1.3rem;
    transition: opacity 0.2s;

    @include breakpoint(mobile) {
        display: none;
    }

    svg {
        display: block;
        width: 100%;
        height: 100%;
        fill: #b6b6b6;
        transition: fill 0.2s;
    }

    &.disabled {
        opacity: 0.5;
        cursor: default;
    }

    &--prev {
        right: 100%;
        margin-right: 0.7rem;
    }

    &--next {
        left: 100%;
        margin-left: 0.7rem;
    }

    &:not(.disabled):hover {
        svg {
            fill: var(--primary-color);
        }
    }
}

.events__calendar-scroll-container {
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;

    // mask-image: linear-gradient(to right, transparent 0%, black 1.8rem, black calc(100% - 1.8rem), transparent 100%);

    @include noScrollbar();


    @include breakpoint(mobile) {
        margin: 0 -1.4rem;
        padding: 0 1.4rem;
    }
}

.events__calendar-months {
    gap: 3.6rem;
    display: flex;
    align-items: flex-start;
    flex-shrink: 0;
}

.events__calendar-month {
    flex-shrink: 0;

    @include breakpoint(mobile) {
        &:last-child {
            padding-right: 1.4rem;
        }
    }
}

.events__calendar-month-name {
    font-style: normal;
    font-weight: 400;
    font-size: 0.9rem;
    line-height: 1.1rem;
    color: #b7b7b7;

    user-select: none;
    position: sticky;
    left: 0;
}

.events__calendar-days {
    display: flex;
    gap: 1rem;
    margin-top: 1rem;
}

.events__calendar-card {
    width: 3.2rem;
    height: auto;

    border-radius: 3.6rem;
    transition: background-color 0.2s;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 0.8rem;
    user-select: none;
    &.active {
        background: #eceae7;
    }

    &.disabled {
        cursor: default;
        pointer-events: none;
    }

    &:not(.disabled):hover {
        .events__calendar-card-date {
            color: var(--primary-color);
        }
    }
}

.events__calendar-card-day {
    font-style: normal;
    font-weight: 400;
    font-size: 0.9rem;
    line-height: 1.1rem;
    text-align: center;
    text-transform: uppercase;

    color: #b7b7b7;
    margin-bottom: 0.6rem;

    .events__calendar-card--weekend & {
        color: #ff9770;
    }
}

.events__calendar-card-date {
    font-style: normal;
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 2.1rem;
    text-align: center;
    color: #301039;
    transition: color 0.2s;
    margin-bottom: 0.4rem;

    .events__calendar-card.active & {
        color: #f13c77;
    }

    .events__calendar-card.disabled & {
        color: #a09e9e;
    }
}

.events__calendar-card-dots {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.2rem;
}

.events__calendar-card-dot {
    width: 0.3rem;
    height: 0.3rem;
    border-radius: 50%;
    flex-shrink: 0;
    background: #ffd670;
    &--green {
        background: #5ad1a9;
    }

    &--blue {
        background: #70d6ff;
    }

    &--orange {
        background: #ff9770;
    }

    &--red {
        background: #f13c77;
    }
}

.events__heading {
    font-style: normal;
    font-weight: 500;
    font-size: 2.2rem;
    line-height: 2.6rem;
    margin-bottom: 1.2rem;

    @include breakpoint(mobile) {
        padding: 0 1.2rem;
    }
}
